@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Oswald:wght@300&display=swap');

body {
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    font-size: 20px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;

}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav ul li:hover {
    border-bottom-color: black;
}

.page-content {
    margin: 4%;
}

.page-content header {
    margin-top: 5%;
    max-width: 80%;
}

.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
}

.page-content header p {
    line-height: 30px;
    color: #818181;
}

.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.page-content header button {
    color: #ccc;
    border-bottom-color: black;
}

.page-content .image-DevOps {
    margin-top: 5%;

}

.page-content .image-DevOps img {
    max-width: 100%;
    height: auto;
    transition: filter 0.5s;

}

.page-content .image-DevOps img:hover {
    filter: brightness(35%);

}

.page-content .project-content {
    margin-top: 6%;
}

.page-content .project-content h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
}

.page-content .project-content .projects {
    display: flex;
    flex-wrap: center;

}

.page-content .project-content .projects .project {
    margin-right: 20px;
    max-width: 195px;
}

.page-content .project-content .projects .project h4 {
    margin: 0;

}

.page-content .project-content .projects .project .description {
    font-size: 10px
}

.page-content .project-content .projects .project .dates {
    font-size: 13px;
    color: rgb(145, 145, 145);
}

footer {
    background-color: forestgreen;
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }

    .page-content .project-content {
        margin-top: 15%;
    }

    .page-content .project-content h1 {
        font-size: 1.5em;
    }

    .page-content .project-content .project {
        margin-right: 0;
        margin-bottom: 20px;
    }
}